// HEADER :: START
header.header
  .container
    .header__wrapper
      button.hamburger.hamburger--spring.mobile-visible(type='button')
        span.hamburger-box
          span.hamburger-inner

      a(href="/homepage.html").header__logo
        //- +icon('ico-logotype')
        +icon('ico-logotype')
        p.mobile-visible Центр Повышения Качества Жизни
      a(href="#").header__mail.mobile-visible
        //- +icon('ico-email')
        +icon('ico-email')
      ul.header__menu
        li
          a.header__menu-link.active(href="/homepage.html") О центре
        li
          a.header__menu-link(href="/specialists.html") Специалисты
        li
          a.header__menu-link(href="/news.html") Новости
        li
          a.header__menu-link(href="/kaleidoscope.html") Калейдоскоп
        li
          a.header__menu-link(href="/contacts.html") Контакты
      a(href="#").header__phone +7 (495) 665-93-77
// HEADER :: END
