---
title: Contacts title
bodyClass: contacts
---
extends shared/_layout
block content

	// Contacts grid
	section
		.fullpage.fullpage--contacts
			.left
				p Телефон
				a.contacts__link(href="tel:+74956659377") +7 (495) 665-93-77
				p Электронная почта
				a.contacts__link(href="mailto:mail@ecveco.ru") mail@ecveco.ru
				p 
					| Время работы
					br
					| с 11 до 21 (пн-пт)
				p 
					| Адрес: г. Москва, м. Кропоткинская, 
					br
					| ул. Остоженка д. 3/14
			.right
				#ya-map
