---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content

	// firstscreen
	section
		.firstscreen
			.container
				h1 Добро пожаловать на сайт Центра Повышения Качества Жизни «Открытие»!
	// homepage-info
	section
		.homepage-info
			.container
				img.wow.mobile-hidden(animation-delay="0s" src="img/middle-logotype.svg", alt="")
				.info__paragraphs
					p.wow Опередив традиционный вопрос: «что мы собственно «открываем»?», отвечаем – мы открываем людей, открываем для них самих. Открываем алгоритмы для полноценной и здоровой жизни, открываем правильные пути для продвижения по карьерной лестнице, открываем сердца для семейного счастья и любви, открываем возможности преодолеть любые трудности.
					p.wow Многим знакомо ощущение того, что мы не полностью раскрываем себя в реальной жизни. Чувствуем, что где-то внутри нас живёт известный художник, успешный бизнесмен, знаменитый учёный, счастливый муж или жена. Но мы волею обстоятельств проживаем нашу жизнь совсем в другой роли. Видим, как успешно реализуют свои жизненные планы наши друзья и знакомые, завидуем им белой завистью… 
					p.wow Иногда даже близкое окружение кажется совсем не близким и болезни постоянно вытягивают из нас жизненную энергию, как будто мы рождены вечными донорами. Каждое утро мы подходим к зеркалу и видим совсем другого человека, совсем не того, кем мы являемся.
					p.wow Возникает ощущение того, что кто-то внедрил нас в чужую жизнь, в чужую судьбу, в чужое тело. А где тогда наша судьба, наше счастье, где настоящие мы?  Именно для этих открытий, реализации важных личностных и социальных запросов в центре собраны уникальные специалисты, обладающие редкими знаниями и большим практическим опытом в различных областях. Прикладные знания, которые мы практикуем, базируются на истории и психологии человека, энергетических и физических законах, на высоких технологиях.
					p.wow Возвращение к себе – это очень сложный и возможно самый главный путь, который любой человек должен и может пройти чтобы вернуть то, что ему предначертано в этой жизни. А мы станем вашим надёжным навигатором и личным помощником в этом путешествии. Так что не нужно продолжать играть в жмурки со своей жизнью, смело отправляйтесь в путь! 
					p.wow Вас ждут открытие личного потенциала на полную мощность, реализация своих желаний и многие другие открытия, а это и есть полноценная и счастливая жизнь!
