---
title: Kaleidoscope title
bodyClass: kaleidoscope
---
extends shared/_layout
block content

	// Kaleidoscope grid
	section
		.fullpage.fullpage--editable
			.left(style="background-image: url(img/bg-kaleidoscope.jpg)")
			.right
				h1 Калейдоскоп
				.article.wow.fadeIn.mobile-hidden(animation-delay="0s")
					p.article__date 27 марта
					a.article__title(href="/news-one.html") Астрологический прогноз на апрель 2018 года
					p.article__info В Марте нас ждет несколько внезапных жизненных поворотов и масса неожиданных стечений обстоятельств, особенно в личной жизни. Не стоит в этом месяце строить грандиозных планов, желательно проявить гибкость и следовать за течением событий, тогда пространство само бережно доставит вас к нужному берегу!
				.article.wow.fadeIn(animation-delay="0.3s")
					p.article__date 15 марта
					a.article__title(href="/news-one.html") Успешные тоже плачут. Бучеяр: мысли вслух
					p.article__info Среди моих клиентов большинство составляют мужчины в возрасте от 35 лет и много старше. Это люди, достигшие чего-то такого, что значительно превосходит возможности обычного, среднего человека. При всем различии, этих людей всегда объединяет главное – они очень много работают, постоянно принимая вызовы, решая неординарные задачи, встающие перед ними, их компаниями. Им всегда присуща яркая харизма и мощная личная энергетика. 
				.article.wow.fadeIn(animation-delay="0.6s")
					p.article__date 1 марта
					a.article__title(href="/news-one.html") Эриксоновская терапия
					p.article__info Поэтому можно сказать, что люди достаточную долю своей жизни пребывают в трансе, просто не задумываются об этом. У многих бывали ситуации, когда садишься в метро и на какое-то время погружаешься в свои мысли и грезы, забываешь о времени.
				.article.wow.fadeIn(animation-delay="0.9s")
					p.article__date 20 февраля
					a.article__title(href="/news-one.html") Астрологический прогноз на март 2018 года
					p.article__info Согласно звездным прогнозам, зима не будет спешить покидать нас. Настоящая теплая весна немножко повременит со своим прибытием. Так что у всех знаков Зодиака будет предостаточно времени для того, чтобы наиграться в снежки и насладиться снегом, которого этой зимой было так мало, ну и, конечно же, завершить все проекты.
				.article.wow.fadeIn(animation-delay="1.2s")
					p.article__date 10 февраля
					a.article__title(href="/news-one.html") Когнитивно-поведенческая терапия
					p.article__info Этот метод психотерапии обращается к сознанию и помогает освободиться от стереотипов и предвзятых представлений, которые лишают нас свободы выбора и подталкивают действовать по шаблону. Метод позволяет при необходимости корректировать неосознанные, «автоматические» умозаключения пациента. Он воспринимает их как истину, а в действительности они могут сильно искажать реальные события. Эти мысли часто становятся источником болезненных эмоций, неадекватного поведения, депрессий, тревожных расстройств и других заболеваний.
				.article.wow.fadeIn(animation-delay="1.5s")
					p.article__date 3 февраля
					a.article__title(href="/news-one.html") Астрологический прогноз на март 2018 года
					p.article__info Согласно звездным прогнозам, зима не будет спешить покидать нас. Настоящая теплая весна немножко повременит со своим прибытием. Так что у всех знаков Зодиака будет предостаточно времени для того, чтобы наиграться в снежки и насладиться снегом, которого этой зимой было так мало, ну и, конечно же, завершить все проекты.