---
title: News-one title
bodyClass: news-one
---
extends shared/_layout
block content

	// News-one grid
	section
		.fullpage.fullpage--editable
			.left.left--cover(style="background-image: url(img/bg-one-item.jpg)")
			.right.one-item
				p.one-item__top-info.wow(data-animation-delay="0s") 27 марта
				h1.wow(data-animation-delay="0.1s") Новости центра
				.one-item__info
					p В Марте нас ждет несколько внезапных жизненных поворотов и масса неожиданных стечений обстоятельств, особенно в личной жизни. Не стоит в этом месяце строить грандиозных планов, желательно проявить гибкость и следовать за течением событий, тогда пространство само бережно доставит вас к нужному берегу!
					p Последняя декада месяца не подходит для любых начинаний, так как Меркурий – планета связей и коммуникаций, переходит в ретроградное движение. Лучше в этот период сконцентрироваться на доработке уже начатых ранее проектов и исправлении совершенных ошибок.
					p Покровительница любви – Венера, на протяжении месяца будет находится в Овне. Такая позиция планеты обещает наполнить отношения чувственностью и страстью, а также помочь тем, кто находится в поисках любви.
				
