---
title: Specialists title
bodyClass: specialists
---
extends shared/_layout
block content

	// specialists
	section
		.specialists__grid
			a.specialists__item.width50(href="/team-bucheyar.html")
				img(src="img/sp-bucheyar.jpg" srcset="img/sp-bucheyar@2x.jpg 2x" alt="")
				.specialists__info
					p.specialists__subtitle Основатель центра
					p.specialists__title Бучеяр
			a.specialists__item.width50(href="/team-eleonora.html")
				img(src="img/sp-eleonora.jpg" srcset="img/sp-eleonora@2x.jpg 2x" alt="")
				.specialists__info
					p.specialists__subtitle Психоаналитик, гипнотерапевт
					p.specialists__title Элеонора Златкина
			a.specialists__item(href="/team-vladimir.html")
				img(src="img/sp-vladimir.jpg" srcset="img/sp-vladimir@2x.jpg 2x" alt="")
				.specialists__info
					p.specialists__subtitle Кинозиолог, невролог, гомеопат
					p.specialists__title Владимир Лавренов
			a.specialists__item(href="/team-svetlana.html")
				img(src="img/sp-svetlana.jpg" srcset="img/sp-svetlana@2x.jpg 2x" alt="")
				.specialists__info
					p.specialists__subtitle Астролог
					p.specialists__title Светлана Семеренко
			a.specialists__item(href="/team-mihail.html")
				img(src="img/sp-mihail.jpg" srcset="img/sp-mihail@2x.jpg 2x" alt="")
				.specialists__info
					p.specialists__subtitle 
						| Гипнотерапевт, профессор, 
						br
						| доктор психологических наук
					p.specialists__title Михаил Гинзбург