---
title: Vladimir title
bodyClass: team-vladimir
---
extends shared/_layout
block content

	// team-vladimir
	section
		.fullpage.fullpage--editable
			.left.left--team(style="background-image: url(img/team-vladimir.jpg)")
				img(src="img/team-vladimir.jpg" alt="")
			.right.one-item
				p.one-item__top-info.wow.fadeIn(animation-delay="0s") Кинозиолог, невролог, гомеопат
				h1.wow.fadeIn(animation-delay="0.3s") Владимир Лавренов
				.one-item__info
					p.wow.fadeIn(animation-delay="0.6s") Лавренов как никто знает, как прочно связаны наше тело и наша душа. Насколько даже мелкие, иногда «спящие» физические проблемы не только влияют на наше самочувствие, но и отражаются на качестве жизни и реализации наших желаний в общем. Тело человека – это храм, в этой жизни в нём хранится и развивается душа человека. А что более ценного чем душа человека заслуживает самого крепкого и красивого храма?
					p.wow.fadeIn(animation-delay="0.9s") Владимир Михайлович восстанавливает, ремонтирует и улучшает «храмы» людей ежедневно и очень успешно.  Он является Членом Международной Ассоциации Прикладной Кинезиологии, ассистентом кафедры прикладной кинезиологии Российской академии медико-социальной реабилитации. На основе множества мировых и личных методик Лавренов основал уникальный авторский реабилитационный комплекс.
					p.wow.fadeIn(animation-delay="1.2s") Являясь многопрофильным специалистом — кинезиологом, неврологом, гомеопатом, мануальным терапевтом высшей категории и рефлексотерапевтом он одинаково успешно и комплексно лечит целый «букет» сложных диагнозов. В своей практике Владимир Михайлович Лавренов использует различные виды современных мануальных техник - рефлексотерапию, меридианный массаж, ароматерапию, краниальную остеопатию, техники прикладной кинезиологии, резонансную гомеопатию. Огромный, 25-ти летний опыт позволяет Лавренову за одну консультацию точно обнаружить проблемные и слабые места физического тела, даже если сам человек конкретно не может объяснить, что непосредственно влияет на его плохое самочувствие.
					p.wow.fadeIn(animation-delay="1.5s") Знаете, какие самые распространенные слова, которые говорят пациенты после сеансов Владимира Михайловича: «Зачем я столько времени терпел (а) эти проблемы?..  Оказалось, что всё можно так быстро и просто исправить…». О том, что это совсем не простые проблемы и их совсем не простые решения напрямую зависят от серьёзных знаний, таланта и наличия огромного опыта знает только сам Лавренов и конечно мы, глубоко уважающие Владимира Михайловича коллеги.