---
title: Mihail title
bodyClass: team-mihail
---
extends shared/_layout
block content

	// team-mihail
	section
		.fullpage.fullpage--editable
			.left.left--team(style="background-image: url(img/team-mihail.jpg)")
				img(src="img/team-mihail.jpg" alt="")
			.right.one-item
				p.one-item__top-info.wow(data-animation-delay="0s") Гипнотерапевт, профессор, доктор психологических наук
				h1.wow(data-animation-delay="0.1s") Михаил Гинзбург
				.one-item__info
					p.wow(data-animation-delay="0.2s") Михаил Романович Гинзбург – это настоящий человек-легенда. Всемирно известный практикующий гипнотерапевт, доктор психологических наук, профессор.
					p.wow(data-animation-delay="0.3s") Член-корреспондент Академии педагогических и социальных наук. Один из основателей и преподавателей уникального направления эриксоновского гипноза в России. Ведущий научный сотрудник, член Ученого совета, профессор Московского психолого-социального университета. Многократный участник и докладчик Международных конгрессов по гипнозу. Михаил Романович регулярно проводит обучающие семинары по эриксоновскому гипнозу в России, Франции, Швейцарии, Болгарии, Латвии, Казахстане. Профессор Гинзбург подготовил свыше 3 000 учеников-последователей. Михаил Романович является официальным инструктором Чжун-Юань-Цигун. Участник международных ретритов (семинаров) по Цигун в Шаолине (Китай).  Автор более 70 научных работ, публикаций и книг по психологии.
					p.wow(data-animation-delay="0.4s") Гинзбург – это настоящий мастер и прекрасный человек, который обладает настоящей мудростью и врождённой личной скромностью, зачастую противоречащей современной кричащей практике агрессивного личного продвижения и PR. Профессору Гинзбургу нет необходимости кричать для массовой аудитории про свою уникальность и профессионализм. Он просто много и эффективно работает. Если вам повезло оказаться в числе его клиентов, то можете быть уверены, что вместе с Михаилом Романовичем сможете начать великое волшебное путешествие в свой мир, безболезненно увидеть себя со стороны и возможно изменить то, что считаете необходимым изменить или улучшить то что возможно улучшить. А те счастливчики, которым представится возможность пройти курс сеансов с профессором Гинзбургом, смогут даже заглянуть в своё будущее и спроецировать различные варианты развития событий заранее. Михаил Романович является опытным проводником и филигранно прокладывает маршрут в ваше подсознание, пункт назначения в котором вы выбираете сами. Гинзбург помогает открыть потенциал человека, помогает ему сосредоточиться на важном. Он открывает и пробуждает человека, а не усыпляет его. 
					p.wow(data-animation-delay="0.5s") После сеансов профессора Гинзбурга в человеке происходят грандиозные комплексные изменения, изменения необходимые для достижений даже самых невероятных задач. У Михаила Романовича есть только один «недостаток» — он почему-то не готов клонироваться..., поэтому попасть на приём к постоянно занятому работой профессору Гинзбургу большая удача.
