---
title: Bucheyar title
bodyClass: team-bucheyar
---
extends shared/_layout
block content

	// team-bucheyar
	section
		.fullpage.fullpage--editable
			.left.left--team(style="background-image: url(img/team-bucheyar.jpg)")
				img(src="img/team-bucheyar.jpg" alt="")
			.right.one-item
				p.one-item__top-info.wow(data-animation-delay="0s") Основатель центра
				h1.wow(data-animation-delay="0.1s") Бучеяр
				.one-item__info
					p.wow(data-animation-delay="0.2s") Многие люди испытали на своём опыте или слышали от родственников и друзей о людях, реально помогающих другим избавиться от недугов, семейных неурядиц и бизнес сложностей.
					p.wow(data-animation-delay="0.3s") О людях, которые видят то что недоступно и делают то, что современному человеку пока просто невозможно сделать. Такие уникальные люди, а их не более нескольких тысяч, разбросаны по разным уголкам нашей планеты, представляют разные религии, сословия и народы. Они в большинстве обладают определёнными знаниями в конкретных аспектах жизни людей. Специалистов, которые объединяют различные знания далеко не тысячи, а сотни. К ним относится Бучеяр. К сожалению, как и в других областях жизни к реальным специалистам примыкает миллионная армия контрафакта. Контрафакт в подобной области не просто вреден, он очень опасен. Но вернёмся к Бучеяру, так кто он и что он делает? 
					p.wow(data-animation-delay="0.4s") Бучеяр — это человек с раннего детства награждённый уникальным талантом тонко чувствовать пульс жизни, людей, земли, космоса и что главное, имеет возможность частично влиять на них. Человек, который всю свою жизнь посвятил изучению того, что наверняка наши праправнуки будут изучать уже в школах. Но пока эти знания принадлежат единицам. С помощью Бучеяра сотни людей в разных странах сумели избежать или изменить те негативные стороны жизни, которые не смогли изменить врачи, психологи и другие уважаемые специалисты. И если вы спросите этих людей, о том, как и что Бучеяр делал с ними, то ответ будет примерно один – «Не знаю, как он сделал, но он сделал!» И эти отзывы понятны, ведь даже после несложной хирургической операции человек не может рассказать об алгоритме работы хирурга, но может избавиться от болезни.
					p.wow(data-animation-delay="0.5s") Бучеяр успешно помогает людям практически во всех ситуациях и сферах жизни. Если есть понимание проблемы и вы услышите от Бучеяра, что он может помочь, то фраз «извините не получилось» или «вы сами виноваты» никогда не прозвучит.  
