---
title: Eleonora title
bodyClass: team-eleonora
---
extends shared/_layout
block content

	// team-eleonora
	section
		.fullpage.fullpage--editable
			.left.left--team(style="background-image: url(img/team-eleonora.jpg)")
				img(src="img/team-eleonora.jpg" srcset="img/team-eleonora@2x.jpg 2x" alt="")
			.right.one-item
				p.one-item__top-info.wow(data-animation-delay="0s") Психоаналитик, гипнотерапевт
				h1.wow(data-animation-delay="0.1s") Элеонора Златкина
				.one-item__info
					p.wow(data-animation-delay="0.2s") Чего мы ждём, записавшись на приём к психоаналитику и гипнотерапевту?  Заснуть и выговориться? Нет конечно, мы хотим, чтобы нас услышали в живую, поняли, посмотрели на нашу ситуацию под правильным ракурсом. А самое главное, мы хотим разрешить вопросы, которые нас волнуют и легко продолжать движение по жизни. 
					p.wow(data-animation-delay="0.3s") Элеонора Златкина работает в направлениях эриксоновской терапии и современного психоанализа. Помимо огромного таланта, знаний и двадцатилетней практики, Элеонора в одном лице является уникальным психоаналитическим центром широкого профиля. Она, используя специальный психологический инструментарий методично и безболезненно позволяет людям избавиться от проблем, комплексов, привычек. Поверить в себя и ощутить огромные резервы для полноценной счастливой жизни. 
					p.wow(data-animation-delay="0.4s") Наша жизнь очень многогранна и иногда причины в одной области имеют корни в совершенно другой. Элеонора способна оперативно обнаружить и мягко снять негативные программы человека, избавить от страха, депрессии, невроза. 
					p.wow(data-animation-delay="0.5s") Практика Элеоноры Златкиной распространяется практически во всех возрастных группах. Подростки воспринимают её прежде всего, как друга, забывая о процессе терапии. И это понятно – Элеонора не только прекрасная мама, но и современный человек знающий все последние и модные тренды. Бизнесмены воспринимают Элеонору как равную. Не только как специалиста-психоаналитика и эффектную женщину, но и как очень успешную бизнес-леди.
					p.wow(data-animation-delay="0.6s") Дамы видят в Элеоноре женщину, по-настоящему понимающую и уважающую их запросы и что главное, способную воплотить эти запросы в жизнь. Она ежедневно с успехом доказывает эффективность своих методик на личном примере.
					p.wow(data-animation-delay="0.7s") Элеонору Златкину можно отнести к очень редким специалистам высокого класса, которые уже на первой минуте создают ощущение комфорта, спокойствия и человеческого тепла. С этих приятных ощущений сотни людей вновь начали лёгкое и уверенное восхождение по лестнице жизни. 