// BEGIN CONTACTS STYLE
.fullpage.fullpage--contacts
	height: calc(100vh - 70px)
	.left
		background-color: #d0cfcd
		background-image: url(../../img/bg-pattern-1.png)
		background-size: contain
		background-repeat: repeat
		background-position: center top
		padding: 25px
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		flex-direction: column
		p
			margin-top: 30px
	.right
		width: 50%
		// height: calc(100vh - 70px)
		background: #fff
.contacts__link
	font-size: 48px
	color: $fontColor
	border-bottom: 1px solid $fontColor
	line-height: 1
	margin: 15px auto 0
	transition: .25s $ease
	&:hover
		color: $hoverColor
		border-color: $hoverColor

#ya-map
	width: 100%
	min-height: 100% !important
+r($desktop1168)
  .fullpage.fullpage--contacts
    height: calc(100vh - 60px)
+r($desktop)
	.contacts__link
		font-size: 36px
+r($tablet)
	.page__content
	  height: calc(100vh - 72px)
	.contacts__link
		font-size: 30px
	.fullpage.fullpage--contacts
		flex-wrap: wrap
		height: auto
		// padding-top: 70px
		.left
			width: 100%
			align-self: flex-start
			p
				font-size: 16px
				margin-top: 15px
		.right
			width: 100%
			min-height: 500px
			// height: 50%

+r($mobile)
	.contacts__link
		font-size: 24px
	.fullpage.fullpage--contacts

// END CONTACTS STYLE
