// BEGIN FULLPAGE--EDITABLE STYLE

.fullpage.fullpage--editable
	align-items: flex-start
	height: auto
	h1
		margin: 40px 0 0 0
	.left
		position: fixed
		height: calc(100vh - 70px)
		background-size: contain
		background-repeat: no-repeat
		background-position: center top
		overflow: hidden
		&.left--team
			background-size: cover
			background-position: center
		&--cover
			background-size: cover
			background-position: center

		// &.left--news
		// 	background-image: url(../../img/bg-news.jpg)
		// &.left--kaleidoscope
		// 	background-image: url(../../img/bg-kaleidoscope.jpg)
	.right
		height: auto
		margin-left: 50vw
		padding: 0px 40px 50px
		background-color: #d0cfcd
		background-image: url(../../img/bg-pattern-1.png)
		background-size: contain
		background-repeat: repeat
		background-position: center top

video
	position: absolute
	top: 50%
	left: 50%
	min-width: 100%
	min-height: 100%
	width: auto
	height: auto
	z-index: 100
	transform: translateX(-50%) translateY(-50%)
	transition: 1s opacity


.article
	margin-top: 50px
	text-align: left
	justify-content: flex-start
	&__date
		font-size: 15px
		text-align: left
		margin-bottom: 15px
	&__title
		font-size: 26px
		border-bottom: 1px solid $fontColor
		text-align: left
		line-height: 1.4
		display: inline
		transition: .25s $ease
		&:hover
			color: $hoverColor
			border-color: $hoverColor
	&__info
		text-align: left
		margin-top: 25px

+r($desktop1168)
	.fullpage.fullpage--editable
		.left
			height: calc(100vh - 60px)
+r($desktop)
	.fullpage.fullpage--editable
		.right
			padding: 0px 30px 30px
	.article
		margin-top: 25px

+r($tablet)
	video
		display: none
	.fullpage.fullpage--editable
		h1
			margin: 15px 0 0 0
		.left
			position: static
			min-height: 0
			background-size: cover
			height: 100vw
			// max-width: 400px
			&.left--team
				background-image: none !important

		.right
			margin-left: 0
			margin: 0 auto !important
			width: 100%
			padding: 25px 25px 50px 25px
	.article
		margin-top: 25px
		&__info
			display: none

+r($mobile)
	.article
		&__title
			font-size: 18px
		&__date
			margin-bottom: 5px
			font-size: 12px

// END FULLPAGE--EDITABLE STYLE
